body {
  background: url('44738.jpg');
  font-family: "Franklin Gothic Medium", "Arial Narrow", monospace;, sans-serif;
}

.title {
  text-align: center;
  color: blueviolet;
}

td,
th {
  border: 2px solid brown;
  text-align: center;
  padding: 10px;
}

td:hover {
  background-color: brown;
}

th:hover {
  background-color: brown;
}

.kepala-tabel {
  background-color: #EE5A24;
}

.tabel {
  border-collapse: collapse;
  width: 100%;
}

.ubah {
  background-color: #e4d1b9;
}

.ubah:hover {
  background-color: brown;
}

.hapus {
  background-color: #e4d1b9;
}

.hapus:hover {
  background-color: brown;
}